html {
    background: url(pictures/background.jpg) no-repeat center center fixed; /*Set the image as background*/
    background-size: cover;
    position: relative;
    text-align: center; /*Of the whole website*/

}

img { /* All the images including the logo images, images on home page and images that i have use as titles */
    padding: 1px;
    border: 2px;
    width: 100%;
    height: auto;
    margin: auto;
}

h1{
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px black;
}
.Instructions {
    background-color: antiquewhite;
    border: solid 2px;
    border-color: black;
}
.Identity{
    font-size: 40px;
    color: white;
}

/*Leaderboard text*/
#lead p {
    text-decoration: underline;
    color: black;
    font-size: 150%;
}

#qText{
    font-size: 120%;
}
#treasureHunt
{
    background-color: beige;
    height: auto;
    width: 70% ;
    color: black;
    border: solid black 2px;
    transform: translate(19%, 0%);

}
#lead
{
    background-color: beige;
    height: auto;
    width: 70% ;
    color: black;
    border: solid black 2px;
    transform: translate(19%, 0%);
}
