html {
    background: url(pictures/background.jpg) no-repeat center center fixed; /*Set the image as background*/
    background-size: cover;
    position: relative;
    text-align: center; /*Of the whole website*/

}

img { /* All the images including the logo images, images on home page and images that i have use as titles */
    padding: 1px;
    border: 2px;
    width: 100%;
    height: auto;
    margin: auto;
}

h1{
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px black;
}
.Instructions {
    background-color: antiquewhite;
    border: 2px solid black;
}
.Identity{
    font-size: 40px;
    color: white;
}

/*Leaderboard text*/
#lead p {
    color: black;
    font-size: 150%;
}

#qText, #score{
    font-size: 120%;
}
#treasureHunt {
    background-color: beige;
    height: auto;
    width: 70% ;
    color: black;
    border: solid black 2px;
    transform: translate(19%, 0%);

}

#treasureHunt a{
    text-decoration: none;
    font-size: 130%;
}

#lead
{
    background-color: beige;
    height: auto;
    width: 70% ;
    color: black;
    border: solid black 2px;
    transform: translate(19%, 0%);
}
.ParDesign
{
    border: solid black 2px;
    background-color: beige;
    padding: 5px;
    font-size: 40px;

}

#username{
    font-size: 100%;
}

#sbutton {
    font-size: 20px;
}

.radioButton{
    width: 18px;
    height: 18px;
}

#loginForm{
    font-size: 130%;
}

.ansForm{
font-size: 130%;
}

.ansElement{
    font-size: 80%;
    margin: 3%;
}

.ansButton{
    font-size: 100%;
    width: 75px;
    height: 35px;
    margin: 3%;
}

.skipButton{
    font-size: 100%;
    width: 75px;
    height: 35px;
    margin: 3%;
}

#QRButtonDiv button{
    position: absolute;
    top: 4%;
    left: 3%;
    font-size: 80%;
    width: 75px;
    height: 35px;
}

#indexButtons button{
    font-size: 120%;
    margin: 1.5%;
}

.homeButton{
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 120%;
}

/*Camera for QR*/
#preview{
    border: solid black 2px;
}

#content{
    margin: 20px;
    padding: 20px;
    background-color: beige;
    border: solid black 2px;
    color: black;
    text-align: center;
}

#questionDisplay{
    background-color: beige;
    border: solid black 2px;
}

#testDiv{
    background-color: beige;
    border: solid black 2px;
    font-size: 120%;
    text-align: center;
}

#testDiv h4{
    text-decoration: underline;
}

#listTesting{
    margin: 20px;
    padding: 10px;
    border: solid black 2px;
}

#desc{
    text-decoration: underline;
}

.images {
    float: left;
    width: 30%;
    padding: 5px;
    font-weight: bold;

}

.googleplusimg {
    margin: auto;
    width: 30%;
}

.testingFunctions{
    font-style: italic;
}

