body{
    text-align: center;
}

header{
    border: 1px solid black;
    margin: 1px;
}

main{
    border: 1px solid black;
    margin: 1px;
}

footer{
    border: 1px solid black;
    margin: 1px;
}